@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    font-family: "Faculty Glyphic", sans-serif;
}
 
.swiper-button-next,
.swiper-button-prev {
    margin: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
}
